<html>
    <head>
        <style>
            body{
/*                 background-color:#102030; */
                background-color:#FFF;
                padding:0;
                margin:0;
            }
            canvas{
/*                 border: 2px solid #40A090;                 */
            }
        </style>
        <script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/static/colorbrewer.js"></script>
        <script type="text/javascript" src="/static/draw.js"></script>
    </head>

    <body>
        <canvas id="ploty"> </canvas>
    </body>

</html>
